# for web app
streamlit

# Utilitites
numpy 
pandas

# face recognition
scikit-learn
# face detection
dlib-bin

# for face recognition models
#git+https://github.com/ageitgey/face_recognition_models
./docker_packages/face_recognition_models-0.3.0.tar.gz
setuptools<70.0.0

#Database
supabase

#Hashing 
bcrypt

#for Generate QR code
segno
# for image processing
pillow


# Voice recognition
librosa
resemblyzer==0.1.4 --no-deps
torch==2.14.0+cpu
webrtcvad-wheels

--extra-index-url https://download.pytorch.org/whl/cpu